.headline_add_task{
    font-size: 24px;
    }

.main_content {
    display: flex;
    box-sizing: border-box;
    margin-right: 80px;
    height: 100vh;
    /*padding: 48px; /* oder entsprechender Abstand */
    background: #F6F7F8;
    margin-left: 232px; /* wenn 232px, dann bündig zum Menü Balken */
    justify-content: space-around;
    height: 600px;
}

.box_left, .box_right {
    width: 33vw;
    padding: 16px;
   
}

.headline_add_task {
    display: flex;
    justify-content: flex-start;
    margin-left: 320px;
    margin-top: 100px;

}/*leftside box */
.input_field_title, .textarea_discription, .input_field_category, .input_field_due_date{
    width: 24vw;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 8px;
}
textarea:focus, select:focus, input:focus{
    outline-color: rgb(117, 193, 255);
}
.input_field_subtasks:focus{
    outline-color: white;
}
.input_wrapper:hover{ 
    outline-color: rgb(117, 193, 255);

}
.input_assigned_to {
    width: 24vw;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 8px;
}

.input_fields {
    height: 16px;
    padding: 8px;
}

::placeholder {
    font-family: 'Inter', sans-serif;
    color: rgb(184, 184, 184);
    padding: 8px;
}

.container_bottom_add_task{
    margin-left: 232px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    margin-right: 80px;
   
}

button{
    display:inline-flex; 
    align-items: center;
    padding: 16px;
    border: none;
    margin-right: 16px;
}

.container_bottom_add_task {
    display: flex;
    align-items: center;
}
.hide_icon {
    display: none;
  }

.main_color_medium_button {
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 10px;
    background: #FFA800;
    border: none;
    color: white;
    width: 108px;
}
.toggled_color_medium{
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 10px;
    background: white;
    border: none;
    color:#2A3647;
    width: 108px;
}
.urgent_button_icon_white, .urgent_button_icon_red, .medium_button_icon_white, .medium_button_icon_yellow, .low_button_icon_green, .low_button_icon_white{
    width: 16px;
    height: auto;
}

.main_color_urgent_button{
    background: white;
    border-radius: 8px;
    width: 20%;
    height: auto;
    justify-content: center;

  }
  .urgent_button_icon_white, .urgent_button_icon_red, .low_button_icon_green, .low_button_icon_white{
    margin-left: 8px;
  
  }
  

  .main_color_urgent_button:hover, .toggled_color_medium:hover, .main_color_low_prio_buttons:hover, .main_color_low_prio_button:hover{
    box-shadow: 0px 2px 2px 0px rgba(61, 61, 61, 0.2);
  }

  .toggled_color_urgent {
    background: rgb(255, 0, 0);
    color: white;
    border-radius: 8px;
    width: 20%;
    height: auto;
    justify-content: center;
    box-shadow: unset !important;
  }
  .main_color_low_prio_button{
    background: white;
    color:#2A3647;
    border-radius: 8px;
    width: 20%;
    height: auto;
    padding: 16px;
    justify-content: center;
  }
  .toggled_color_low{
    background: #7ae229;
    color: white;
    border-radius: 8px;
    width: 20%;
    height: auto;
    padding: 16px;
    justify-content: center;
    box-shadow: unset !important;
  }

.clear_task_button{
    background: #ffffff;
    border-radius: 8px;
    color:#2A3647;
    padding: 16px;
    border: 1px solid #2A3647;
}

.create_task_button {
 background: #2A3647;
 border-radius: 8px;
 color: white;
 padding: 16px;
}
.create_task_button:hover{
background-color: #29ABE2;}


.clear_task_button:hover {
        border: 1px solid #29ABE2 ;
        color: #29ABE2;
    
    }

input, button, textarea{
    cursor: pointer;
}
textarea:hover, select:hover {
    box-shadow: 0px 2px 2px 0px rgba(61, 61, 61, 0.2);
}

.required_red_star::before {
    content: "*";
    color: red;
}
.container_data_first_letter{
    margin-left: 32px;
}

.input_container {
    position: relative;

}

.input_field_container {
    position: relative;
    display: inline-block;
}

.input_field_subtasks {
    width: 24vw;
}
.icon-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    
}

.input_field_icon {
    cursor: pointer;
    width: 8px;
}
.input_value_style{
 margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
 
}
.input_value_style:hover {
    width: 24vw; /* Beispielbreite, kannst du anpassen */
    padding: 8px;
    border-radius: 6px;
    background: #eeeeee;
    cursor: pointer;   
}

.container_subtask_icons{
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.input_field_subtasks {
    padding-left: 16px; /* Platz für die Icons */
    border: none;
    height: 24px;
    border-radius: 8px;
}

.icon-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px; /* Anpassen der Position der Container */
    display: flex;
}

.icon-container img {
    width: 20px; /* Anpassen der Größe der Icons */
    height: 20px;
    margin-right: 5px; /* Abstand zwischen den Icons */
}
.container_for_input_fields{
    width: 24vw;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 8px;
    background-color: white;

}
#addingSubtask, #acceptTask, #cancelSubtask{
    width: 16px;
    cursor: pointer;
}
#smallLineSubtask{
    height: 16px;
}
#addingSubtask{
width: 11px;
}

.container_subtasks_icons{

}