.content_contacts {
    box-sizing: border-box;
    margin-left: 240px;
    margin-right: 80px;
    margin-top: 80px;
    display: flex;
}

.left_contacts {
    box-sizing: border-box;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    background-color: white;
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.10);
}

.top_left_contacts {
    box-sizing: border-box;
    background-color: white;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    margin-top: 16px;
}

.top_left_contacts button {
    background-color: #2A3647;
    color: white;
    width: 320px;
    font-size: 20px;
    font-weight: 700;
    padding: 8px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: none;
    border-radius: 8px;
    transition: all 150ms ease-in-out;
}

.top_left_contacts button:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#me_as_contact {
    box-sizing: border-box;
    height: 100px;
    padding: 16px 40px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

#contact_list_contacts {
    height: calc(100vh - 260px);
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: thin;          
    scrollbar-color: lightgray white; 
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
}

#contact_list_contacts::-webkit-scrollbar {
    width: 12px;               
}

#contact_list_contacts::-webkit-scrollbar-track {
    background: white;        
}

#contact_list_contacts::-webkit-scrollbar-thumb {
    background-color: lightgray;    
    border-radius: 20px;       
    border: 3px solid white;  
}

.alphabet_contacts {
    padding: 16px 36px;
    font-size: 20px;
}

.parting_line_contacts {
    height: 1px;
    width: 100%;
    background-color: lightgray;
    margin-bottom: 4px;
}

.contact_contacts {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    gap: 24px;
    border-radius: 8px;
    transition: all 150ms ease-in-out;
}

.hover_contact_contacts:hover {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.10), transparent);
    cursor: pointer;
}

.contact_contacts div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.highlighted_contact_contacts {
    color: white;
    background-color: #2A3647;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    gap: 24px;
    border-radius: 8px;
    transition: all 150ms ease-in-out;
}

.highlighted_contact_contacts:hover {
    cursor: pointer;
}

.highlighted_contact_contacts div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact_initials_contacts {
    background-color: orange;
    color: white;
    font-size: 12px;
    border: 2px solid white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}   

#contact_name_contacts {
    font-size: 18px;
    word-break: break-word;
}

#contact_email_contacts {
    color: #007CEE;
    font-size: 14px;
}

.mobile_add_contact_button_contacts {
    height: 64px;
    width: 64px;
    background-color: #2A3647;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    bottom: 120px;
    right: 32px;
    transition: all 150ms ease-in-out;
}

.mobile_add_contact_button_contacts:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.mobile_add_contact_button_contacts img {
    width: 56%;
    height: 56%;
}

.right_contacts {
    width: 100%;
    box-sizing: border-box;
    margin-left: 80px;
    margin-bottom: 80px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.top_right_contacts {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}

.parting_line_top_right_contacts {
    height: 60px;
    width: 4px;
    margin-left: 32px;
    margin-right: 32px;
    background-color: #29ABE2;
}

.top_right_contacts span {
    font-size: 24px;
    color: #2A3647;
}

.content_contacts h1 {
    font-size: 64px;
    margin: 0;
}

#contact_details_contacts {
    display: flex;
    flex-direction: column;
}

.top_contact_details_contacts {
    display: flex;
    align-items: center;
    gap: 32px;
}

#initials_contact_details_contacts {
    background-color: orange;
    color: white;
    border: 4px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.initials_contact_details_contacts {
    background-color: orange;
    color: white;
    border: 4px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.name_and_options_contact_details_contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

#name_contact_details_contacts {
    font-size: 48px;
    word-break: break-word;
}

.options_contact_details_contacts {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
    color: #2A3647;
}

.options_contact_details_contacts div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.edit_contact_details_contacts {
    height: 16px;
    padding-left: 24px;
    background-size: 16px;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(../assets/img/edit_icon_contacts.svg);
    transition: all 150ms ease-in-out;
}


.edit_contact_details_contacts:hover {
    cursor: pointer;
    color: #29ABE2;
    background-image: url(../assets/img/blue_edit_icon_contacts.svg);
}

.delete_contact_details_contacts {
    height: 16px;
    padding-left: 24px;
    background-size: 16px;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(../assets/img/delete_icon_contacts.svg);
    transition: all 150ms ease-in-out;
}

.delete_contact_details_contacts:hover {
    cursor: pointer;
    color: #29ABE2;
    background-image: url(../assets/img/blue_delete_icon_contacts.svg);
}

.options_contact_details_contacts img {
    height: 16px;
    width: 16px;
}

.contact_information_title_contact_details_contacts {
    width: 100%;
    margin: 40px 0px;
}

.contact_information_contact_details_contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
}

.contact_information_contact_details_contacts span:nth-child(odd) {
    font-weight: 700;
}

.contact_information_contact_details_contacts div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#email_contact_information_contact_details_contacts {
    color: #007CEE;
    text-decoration: none;
}

#email_contact_information_contact_details_contacts:hover {
    text-decoration: underline;
    cursor: pointer;
}

#phone_contact_information_contact_details_contacts {
    color: black;
    text-decoration: none;
}

#phone_contact_information_contact_details_contacts:hover {
    text-decoration: underline;
    cursor: pointer;
}

#bg_contact_form {
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); 
}


#contact_form {
    box-sizing: border-box;
    width: 1000px;
    position: fixed;
    z-index: 4;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 2 / 1;
    display: flex;
    animation: slideToLeft 150ms forwards; 
}

@keyframes slideToLeft {
    to {
      left: 50%; 
    }
}


.left_contact_form {
    box-sizing: border-box;
    width: 36%;
    background-color: #2A3647;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    color: white;
    padding: 40px;
    font-size: 21.6px;
}

.logo_left_contact_form {
    height: 56px;
}

#title_left_contact_form {
    font-size: 48px;
    font-weight: 700;
}

.parting_line_left_contact_form {
    width: 80px;
    height: 2px;
    background-color: #29ABE2;
    margin-top: 8px;
    margin-bottom: 80px;
}

.right_contact_form {
    box-sizing: border-box;
    padding: 56px;
    width: 64%;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#pfp_contact_form img {
    height: 120px;
}

.form_right_contact_form {
    width: 100%;
}

.form_right_contact_form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form_right_contact_form input::placeholder {
    color: #D1D1D1;
}

#name_contact_form {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #D1D1D1;
    background: url(../assets/img/person_icon_contact_form.svg) no-repeat;
    background-position: calc(100% - 16px) center;
    font-size: 16px;
    outline-color: #29ABE2;
}

#email_contact_form {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #D1D1D1;
    background: url(../assets/img/mail_icon_contact_form.svg) no-repeat;
    background-position: calc(100% - 16px) center;
    font-size: 16px;
    outline-color: #29ABE2;
}

#phone_contact_form {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #D1D1D1;
    background: url(../assets/img/call_icon_contact_form.svg) no-repeat;
    background-position: calc(100% - 16px) center;
    font-size: 16px;
    outline-color: #29ABE2;
}

#buttons_contact_form {
    margin-top: 16px;
}

.add_buttons_contact_form {
    display: flex;
    gap: 24px;
}

.edit_buttons_contact_form {
    display: flex;
    gap: 24px;
}

#buttons_contact_form img {
    height: 10px;
}

.cancel_button_contact_form {
    display: flex;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 40px;
    padding-bottom: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #2A3647;
    background: white;
    color: #2A3647;
    font-size: 18px;
    background-image: url(../assets/img/x_icon_contact_form.svg);
    background-repeat: no-repeat;
    background-position: center right 16px;
    transition: all 150ms ease-in-out;
}

.cancel_button_contact_form:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-image: url(../assets/img/blue_x_icon_contact_form.svg);
}

.create_button_contact_form {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: #2A3647;
    color: white;
    font-size: 18px;
    font-weight: 700;
    transition: all 150ms ease-in-out;
}

.create_button_contact_form:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.delete_button_contact_form {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #2A3647;
    background: white;
    color: #2A3647;
    font-size: 18px;
    transition: all 150ms ease-in-out;
}

.delete_button_contact_form:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.save_button_contact_form {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: #2A3647;
    color: white;
    font-size: 18px;
    font-weight: 700;
    transition: all 150ms ease-in-out;
}

.save_button_contact_form:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.x_contact_form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.x_contact_form img {
    margin-top: -80px;
    margin-right: -8px;
    height: 14px;
    padding: 8px;
    border-radius: 50%;
    transition: all 150ms ease-in-out;
}

.x_contact_form img:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.10);
}

.mobile_x_contact_form {
    width: 100%;
    display: none;
    justify-content: flex-end;
}

.mobile_x_contact_form img {
    margin-top: -8vh;
    margin-right: -8px;
    height: 32px;
    padding: 8px;
    border-radius: 50%;
    transition: all 150ms ease-in-out;
}

.mobile_x_contact_form img:hover {
    cursor: pointer;
    background-color: #29ABE2;
}

#mobile_options_contact_contacts {
    box-sizing: border-box;
    background-color: white;
    height: 100px;
    width: 120px;
    position: fixed;
    z-index: 3;
    bottom: 100px;
    left: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #2A3647;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 150ms ease-in-out;
    padding: 16px;
    animation: slideToLeftOptions 150ms forwards; 
}

@keyframes slideToLeftOptions {
    to {
        left: calc(100% - 132px);
    }
}

.edit_mobile_options_contact_contacts {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 34px;
    background-image: url(../assets/img/edit_icon_contacts.svg);
    background-repeat: no-repeat;
    background-position: left 8px center;
    display: flex;
    align-items: center;
    height: 16px;
    font-size: 15px;
    border-radius: 8px;
}

.edit_mobile_options_contact_contacts:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.10);
    color: #29ABE2;
    background-image: url(../assets/img/blue_edit_icon_contacts.svg);
}

.delete_mobile_options_contact_contacts {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 34px;
    background-image: url(../assets/img/delete_icon_contacts.svg);
    background-repeat: no-repeat;
    background-position: left 8px center;
    display: flex;
    align-items: center;
    height: 16px;
    font-size: 15px;
    border-radius: 8px;
}

.delete_mobile_options_contact_contacts:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.10);
    color: #29ABE2;
    background-image: url(../assets/img/blue_delete_icon_contacts.svg);
}

.blue_arrow_left_mobile_right_contacts {
    width: 100%;
    display: none;
    justify-content: flex-end;
    position: absolute;
    z-index: 1;
    top: 160px;
    right: 32px;
}

.blue_arrow_left_mobile_right_contacts img {
    height: 24px;
    padding: 8px;
    border-radius: 50%;
}

.blue_arrow_left_mobile_right_contacts img:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.10);
}


@media(max-width: 1350px) {
    .top_right_contacts {
        flex-direction: column;
        align-items: unset;
        gap: 8px;
    }

    .top_right_contacts span {
        margin-bottom: 8px;
    }

    .parting_line_top_right_contacts {
        display: none;
    }

    .mobile_parting_line_top_right_contacts {
        background-color: #29ABE2;
        height: 4px;
        width: 100px;
    }
    
    .top_contact_details_contacts {
        gap: 16px;
    }

    #initials_contact_details_contacts {
        width: 80px;
        height: 80px;
        font-size: 32px;
    }
    
    #name_contact_details_contacts {
        font-size: 32px;
        font-weight: 600;
    }
}

@media(max-width: 1200px) {
    .content_contacts {
        margin-right: 40px;
    }

    .right_contacts {
        margin-left: 40px;
    }

    .content_contacts h1 {
        font-size: 56px;
    }

    #initials_contact_details_contacts {
        width: 64px;
        height: 64px;
        font-size: 24px;
    }

    .top_left_contacts {
        padding: 0px 20px;
    }

    .top_left_contacts button {
        width: 320px;
        padding: 8px 24px;
    }

    #me_as_contact {
        padding: 16px 20px;
    }

    #contact_list_contacts {
        padding: 0px 20px;
    }

    #contact_form {
        width: 880px;
    }

    .logo_left_contact_form {
        height: 48px;
    }

    #title_left_contact_form {
        font-size: 40px;
    }

    #subheading_contact_form {
        font-size: 18px;
    }

    .parting_line_left_contact_form {
        margin-bottom: 48px;
    }

    .cancel_button_contact_form {
        font-size: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .create_button_contact_form {
        font-size: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .delete_button_contact_form {
        font-size: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .save_button_contact_form {
        font-size: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .x_contact_form img {
        margin-top: -60px;
    }
}

@media(max-width: 1000px) {
    .content_contacts {
        margin-right: 20px;
    }

    .right_contacts {
        margin-left: 20px;
    }

    .contact_contacts {
        padding: 12px 12px;
        gap: 16px;
    }

    .top_left_contacts button {
        width: 280px;
    }
}

@media(max-width: 900px) {
    .content_contacts {
        margin-left: 0px;
        margin-bottom: 84px;
        margin-right: 40px;
    }

    .right_contacts {
        margin-left: 40px;
    }

    #contact_list_contacts {
        height: calc(100vh - (260px + 84px));
    }

    .left_contacts {
        box-sizing: border-box;
        height: calc(100vh - (80px + 84px));
    }

    #contact_form {
        width: unset;
        max-width: 90%;
        max-height: 88%;
        left: 50%;
        top: 100%;
        height: 100%;
        aspect-ratio: 1 / 2;
        flex-direction: column;
        animation: slideToTop 150ms forwards; 
    }

    @keyframes slideToTop {
        to {
          top: 50%; 
        }
    }

    .left_contact_form {
        height: 46%;
        width: unset;
        border-bottom-left-radius: unset;
        border-top-right-radius: 30px;
    }

    .mobile_x_contact_form {
        display: flex;
    }

    .logo_left_contact_form {
        display: none;
    }

    #title_left_contact_form {
        font-size: 5vh;
    }

    #subheading_contact_form {
        font-size: 2.2vh;
    }

    .right_contact_form {
        height: 54%;
        width: unset;
        padding: unset;
        padding-left: 56px;
        padding-right: 56px;
        padding-bottom: 56px;
        border-top-right-radius: unset;
        border-bottom-left-radius: 30px;
        flex-direction: column;
        justify-content: unset;
        gap: 2vh;
    }

    #pfp_contact_form {
        margin-top: -8vh;
    }

    #pfp_contact_form img {
        height: 16vh;
    }

    .form_right_contact_form form {
        height: 100%;
        gap: 2.5vh;
    }

    .x_contact_form {
        display: none;
    }

    .cancel_button_contact_form {
        display: none;
    }

    #name_contact_form {
        padding: 1.2vh 16px;
        border-radius: 10px;
    }

    #email_contact_form {
        padding: 1.2vh 16px;
        border-radius: 10px;
    }

    #phone_contact_form {
        padding: 1.2vh 16px;
        border-radius: 10px;    
    }

    .add_buttons_contact_form {
        justify-content: center;
    }

    .create_button_contact_form {
        height: 5vh;
        padding: 1vh 16px;
        font-size: 22px;
        border-radius: 10px;
    }

    .edit_buttons_contact_form {
        justify-content: center;
    }

    .delete_button_contact_form {
        height: 48px;
        font-size: 18px;
        padding-top: 8px;    
        padding-bottom: 8px;   
    }

    .save_button_contact_form {
        height: 48px;
        font-size: 18px;
        padding-top: 8px;    
        padding-bottom: 8px;   
    }
}

@media(max-width: 720px) {
    .right_contacts {
        display: none;
        margin-right: 40px;
    }

    .content_contacts {
        margin-right: 0px;
    }

    .left_contacts {
        width: 100%;
    }

    .top_left_contacts {
        display: none;
    }

    #contact_list_contacts {
        height: calc(100vh - (178px + 84px));
    }

    #me_as_contact {
        padding: 16px 20%;
    }

    #contact_list_contacts {
        padding: 0px 20%;
    }

    .contact_contacts {
        padding: 12px 24px;
    }

    .mobile_add_contact_button_contacts {
        display: flex;
    }

    .options_contact_details_contacts {
        display: none;
    }

    .blue_arrow_left_mobile_right_contacts {
        display: flex;
    }
}

@media(max-width: 600px) {
    #me_as_contact {
        padding: 16px 15%;
    }

    #contact_list_contacts {
        padding: 0px 15%;
    }
}

@media(max-width: 480px) {
    .right_contacts {
        margin-right: 16px;
        margin-left: 16px;
    }

    .content_contacts h1 {
        font-size: 48px;
    }

    #name_contact_details_contacts {
        font-size: 24px;
    }

    #initials_contact_details_contacts {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }

    .initials_contact_details_contacts {
        width: 100px;
        height: 100px;
        font-size: 40px;
    }

    #me_as_contact {
        padding: 16px 10%;
    }

    #contact_list_contacts {
        padding: 0px 10%;
    }

    #contact_form {
        width: 300px;
        max-width: 90%;
        max-height: 88%;
        height: 600px;
        aspect-ratio: 1 / 2;
        flex-direction: column;
    }

    .right_contact_form {
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 32px;
        gap: 8px;
    }

    #pfp_contact_form {
        margin-top: -60px;
    }

    #pfp_contact_form img {
        height: 100px;
    }
    
    .form_right_contact_form form {
        height: 100%;
        gap: 16px;
    }

    .create_button_contact_form {
        height: 40px;
        padding: 1vh 16px;
        font-size: 18px;
        border-radius: 10px;
    }

    #title_left_contact_form {
        font-size: 32px;
    }

    #subheading_contact_form {
        font-size: 15px;
    }

    .mobile_x_contact_form img {
        margin-top: -16px;
        margin-right: unset;
        height: 24px;
    }

    .delete_button_contact_form {
        height: 40px;
        font-size: 16px;
        padding-top: 8px;    
        padding-bottom: 8px;   
    }

    .save_button_contact_form {
        height: 40px;
        font-size: 16px;
        padding-top: 8px;    
        padding-bottom: 8px;   
    }
}

@media(max-width: 360px) {
    #me_as_contact {
        padding: 16px 5%;
    }

    #contact_list_contacts {
        padding: 0px 5%;
    }
}