 .container_logo_animation {
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;  
        justify-content: center;
        align-items: center;
    }

    .logo_start_screen {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px; /* Startgröße des Logos */
        height: auto;
        animation: moveLogo 1.5s ease forwards, scaleLogo 2s ease forwards;
    }
    .logo_white{
        display: none;
    }
  

    @keyframes moveLogo {
        0% {
            transform: translate(-50%, -50%);
        }
        100% {
            top: 41px; /* Abstand von oben */
            left: 85px; /* Abstand von links */
            transform: translate(0, 0);
            transition: ease-in-out;
        }
    }

    @keyframes scaleLogo {
        0% {
            width: 300px; /* Startgröße */
        }
        100% {
            width: 80px; /* Endgröße */
        }
    }
    @media (max-width: 1080px){
         .logo_dark{
            display: none;
        }
        .logo_white{
            display: block;
        }
        body{
            background-color: #2A3647;
        }
     
    }

    