.content_log_in {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 80px;
}

.top_log_in {
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.right_top_log_in div {
    display: flex;
    align-items: center;
    gap: 32px;
    color: #2A3647;
}

.sign_up_button_right_top_log_in {
    display: flex;
    padding: 15px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #2A3647;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    transition: all 150ms ease-in-out;
}

.sign_up_button_right_top_log_in:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.center_log_in {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: max-content;
    box-sizing: border-box;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    padding: 48px 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center_log_in h1 {
    font-size: 56px;
    margin: 0;
    margin-bottom: 40px;
    text-decoration: underline 4px #29ABE2;
    text-underline-offset: 24px;
}

.input_center_log_in {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 8px 0px;
}

.email_input_center_log_in {
    box-sizing: border-box;
    display: flex;
    width: 420px;
    padding: 16px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: url(../assets/img/email_icon_log_in.svg) no-repeat;
    background-position: calc(100% - 24px) center;
    font-size: 20px;
    font-weight: 400;
}

.email_input_center_log_in::placeholder {
    color: #D1D1D1;
}

.password_input_center_log_in {
    box-sizing: border-box;
    display: flex;
    width: 420px;
    padding: 16px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: url(../assets/img/password_icon_log_in.svg) no-repeat;
    background-position: calc(100% - 24px) center;
    font-size: 20px;
    font-weight: 400;
}

.password_input_center_log_in::placeholder {
    color: #D1D1D1;
}

.checkbox_center_log_in {
    box-sizing: border-box;
    width: 100%;
    padding: 32px 64px;
}

#remember_me_log_in:hover {
    cursor: pointer;
}

.buttons_center_log_in {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.log_in_button_center_log_in {
    display: flex;
    height: 48px;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    transition: all 150ms ease-in-out;
}

.log_in_button_center_log_in:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.guest_log_in_button_center_log_in {
    display: flex;
    height: 48px;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #2A3647;
    background: white;
    color: #2A3647;
    font-size: 21px;
    font-weight: 700;
    transition: all 150ms ease-in-out;
}

.guest_log_in_button_center_log_in:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bottom_log_in {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.info_bottom_log_in {
    display: flex;
    gap: 32px;
}

.info_bottom_log_in span {
    color: #A8A8A8;
    font-size: 16px;
    font-weight: 400;
    transition: all 150ms ease-in-out;
}

.info_bottom_log_in span:hover {
    cursor: pointer;
    color: #29ABE2;
}

.mobile_bottom_log_in {
    box-sizing: border-box;
    width: 100%;
    display: none;
    font-size: 18px;
    justify-content: center;
}

.mobile_bottom_log_in div {
    display: flex;
    align-items: center;
    gap: 32px;
    color: #2A3647;
}

.sign_up_button_mobile_bottom_log_in {
    display: flex;
    padding: 15px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #2A3647;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    transition: all 150ms ease-in-out;
}

.sign_up_button_mobile_bottom_log_in:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


@media(max-width: 900px) {
    .content_log_in {
        padding: 40px 10%;
    }

    .top_log_in img {
        height: 100px;
    }

    .center_log_in {
        padding: 48px 5%;
    }
}

@media(max-width: 675px) {
    .center_log_in {
        width: 80%;
    }

    .center_log_in h1 {
        font-size: 48px;
    }
    
    .email_input_center_log_in {
        width: 100%;
        padding: 8px 16px;
        font-size: 16px;
    }
    
    .password_input_center_log_in {
        width: 100%;
        padding: 8px 16px;
        font-size: 20px;
    }
    
    .checkbox_center_log_in {
        padding: 32px 16px;
    }
    
}

@media(max-width: 500px) {
    .top_log_in img {
        height: 80px;
    }

    .right_top_log_in {
        display: none;
    }

    .center_log_in {
        padding: 32px 5%;
    }

    .buttons_center_log_in {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
    }

    .log_in_button_center_log_in {
        width: 180px;
        height: 48px;
        padding: 15px 24px;
        font-size: 18px;
        font-weight: 700;
    }
    
    .guest_log_in_button_center_log_in {
        width: 180px;
        height: 48px;
        padding: 15px 24px;
        font-size: 18px;
        font-weight: 700;
    }

    .mobile_bottom_log_in {
        display: flex;
    }
}

@media(max-width: 400px) {
    .content_log_in {
        padding: 40px 5%;
    }

    .center_log_in {
        width: 90%;
    }

    .center_log_in h1 {
        font-size: 40px;
    }

    .input_center_log_in {
        gap: 16px;
    }

    .email_input_center_log_in {
        width: 100%;
        padding: 8px 16px;
        font-size: 16px; 
    }
    
    .password_input_center_log_in {
        width: 100%;
        padding: 8px 16px;
        font-size: 18px;
    }

    .checkbox_center_log_in {
        padding: 24px 16px;
    }

    .log_in_button_center_log_in {
        width: 160px;
        font-size: 16px;
    }
    
    .guest_log_in_button_center_log_in {
        width: 160px;
        font-size: 16px;
    }
}