.content_sign_up {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 80px;
}

.top_sign_up {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.center_sign_up {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: max-content;
    box-sizing: border-box;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    padding: 48px 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center_sign_up h1 {
    font-size: 56px;
    margin: 0;
    margin-bottom: 40px;
    text-decoration: underline 4px #29ABE2;
    text-underline-offset: 24px;
}

.input_center_sign_up {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 8px 0px;
}

.email_input_center_sign_up {
    display: flex;
    width: 420px;
    padding: 16px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: url(/assets/img/email_icon_log_in.svg) no-repeat;
    background-position: calc(100% - 24px) center;
    font-size: 20px;
    font-weight: 400;
}

.email_input_center_sign_up::placeholder {
    color: #D1D1D1;
}

.password_input_center_sign_up {
    display: flex;
    width: 420px;
    padding: 16px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: url(/assets/img/password_icon_log_in.svg) no-repeat;
    background-position: calc(100% - 24px) center;
    font-size: 20px;
    font-weight: 400;
}

.password_input_center_sign_up::placeholder {
    color: #D1D1D1;
}

.buttons_center_sign_up {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.sign_up_button_center_sign_up {
    display: flex;
    height: 48px;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    transition: all 150ms ease-in-out;
}

.sign_up_button_center_sign_up:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.name_input_center_sign_up {
    display: flex;
    width: 420px;
    padding: 16px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: url(/assets/img/name_icon_sign_up.svg) no-repeat;
    background-position: calc(100% - 24px) center;
    font-size: 20px;
    font-weight: 400;
}

.name_input_center_sign_up::placeholder {
    color: #D1D1D1;
}

.checkbox_center_sign_up {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 32px 0px;
}

.checkbox_center_sign_up a { 
    text-decoration: none;
    color: #29ABE2;
}

.checkbox_center_sign_up a:hover { 
    cursor: pointer;
    text-decoration: underline;
}

.checkbox_center_sign_up input:hover {
    cursor: pointer;
}

.arrow_left_sign_up {
    position: absolute;
    z-index: 2;
    margin-left: -560px;
    margin-top: 16px;
    transition: all 150ms ease-in-out;
    padding: 4px;
    border-radius: 50%;
}

.arrow_left_sign_up:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.10);
}

.bottom_sign_up {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 32px;
}

.bottom_sign_up span {
    color: #A8A8A8;
    font-size: 16px;
    font-weight: 400;
    transition: all 150ms ease-in-out;
}

.bottom_sign_up span:hover {
    cursor: pointer;
    color: #29ABE2;
}