.content_summary {
    border: 4px dotted red;
    margin-left: 320px;
    margin-right: 80px;
    margin-top: 160px;
    margin-bottom: 80px;
    box-sizing: border-box;
}

.top_summary {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 40px;
}

.parting_line_top_summary {
    height: 60px;
    width: 4px;
    background-color: #29ABE2;
}

.mobile_parting_line_top_summary {
    height: 4px;
    width: 100px;
    background-color: #29ABE2;
    display: none;
}

.top_summary span {
    font-size: 24px;
    color: #2A3647;
}

.content_summary h1 {
    font-size: 64px;
    margin: 0;
}

.blue_words_summary {
    color: #29ABE2;
}

.main_summary {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left_main_summary {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}
 
.right_main_summary {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top_left_main_summary {
    display: flex;
    gap: 35px;
    margin-bottom: 32px;
}

.text_color_left_main_summary {
    color: #2A3647;
}

.to_do_top_left_main_summary {
    display: flex;
    align-items: center;
    gap: 16px;    
    padding: 32px 48px;
    border-radius: 30px;
    background: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    transition: scale 75ms ease-in-out;
}

.to_do_top_left_main_summary:hover {
    cursor: pointer;
    background-color: #2A3647;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    scale: 1.1;
}

.to_do_top_left_main_summary div {
    display: flex;
    flex-direction: column;
}

.to_do_top_left_main_summary div:hover {
    cursor: pointer;
    color: white;
}

.done_top_left_main_summary {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 32px 48px;
    border-radius: 30px;
    background: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    transition: scale 75ms ease-in-out;
}

.done_top_left_main_summary:hover {
    cursor: pointer;
    background-color: #2A3647;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    scale: 1.1;
}

.done_top_left_main_summary div {
    display: flex;
    flex-direction: column;
}

.center_left_main_summary {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 48px;
    padding: 32px 48px;
    border-radius: 30px;
    background: white;
    margin-bottom: 32px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);    
    transition: scale 75ms ease-in-out;
}

.center_left_main_summary:hover {
    cursor: pointer;
    background-color: #2A3647;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    scale: 1.1;
}

.urgent_center_left_main_summary {
    display: flex;
    gap: 16px;
    align-items: center;
}

.urgent_center_left_main_summary div {
    display: flex;
    flex-direction: column;
}

.parting_line_center_left_main_summary {
    height: 80px;
    width: 2px;
    background-color: #D1D1D1;
}

.date_center_left_main_summary {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.date_center_left_main_summary :nth-child(odd) {
    font-size: 18px;
    font-weight: 600;
}

.bottom_left_main_summary {
    display: flex;
    gap: 32px;
    text-align: center;
}

.bottom_left_main_summary div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 35px;
    border-radius: 30px;
    background: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    transition: scale 75ms ease-in-out;
}

.bottom_left_main_summary div:hover {
    cursor: pointer;
    background-color: #2A3647;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    scale: 1.1;
}

.bold_numbers_left_main_summary {
    font-size: 64px;
    font-weight: 700;
}

.icon_size_left_main_summary {
    height: 64px;
    width: 64px;
}

.right_main_summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-break: break-word;
}

.greet_right_main_summary {
    font-size: 48px;
    color: #2A3647;
}

.name_right_main_summary {
    font-size: 64px;
    font-weight: 600;
    color: #29ABE2;
}

@media(max-width: 1400px) {
    .greet_right_main_summary {
        font-size: 32px;
    }
    
    .name_right_main_summary {
        font-size: 48px;
    }

    .left_main_summary {
        width: unset;
    }

    .right_main_summary {
        width: unset;
    }
}

@media(max-width: 1300px) {
    .main_summary {
        justify-content: unset;
        gap: 32px;
    }
}

@media(max-width: 1200px) {
    .right_main_summary {
        display: none;
    }

    .main_summary {
        justify-content: center;
    }
}

@media(max-width: 1000px) {
    .top_summary {
        align-items: unset;
        flex-direction: column;
        gap: unset;
        margin-bottom: 40px;
    }

    .parting_line_top_summary {
        display: none;
    }

    .mobile_parting_line_top_summary {
        display: unset;
        margin-top: 16px;
    }
}

@media(max-width: 900px) {
    .content_summary {
        margin-left: 80px;
        margin-top: 140px;
    }

    .content_summary h1 {
        font-size: 56px;
    }

    .top_summary span {
        font-size: 22px;
    }

    .to_do_top_left_main_summary {   
        padding: 24px 32px;
    }

    .done_top_left_main_summary {  
        padding: 24px 32px;
    }

    .center_left_main_summary {  
        padding: 24px 32px;
        gap: 32px;
    }

    .bottom_left_main_summary div {   
        padding: 12px 23px;
    }

    .bold_numbers_left_main_summary {
        font-size: 64px;
    }
    
    /* .icon_size_left_main_summary {
        height: 64px;
        width: 64px;
    } */
}