body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #F6F7F8;
}

.main_content{
    display: flex;
    height: 100vh;
}

.left_section {
    width: 30%;
    background-color: white;
    margin-left: 240px;
    display: flex;
    padding: 24px;
    flex-direction: column; /* Updated to column layout */
    justify-content: center;
    border-right: 3px solid rgba(129, 129, 129, 0.1); /* 0.1 steht für die Transparenz */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    overflow-y: auto; /* Added scroll for vertical overflow */
    
}

.left_section::-moz-scrollbar-thumb {
    background-color: #2A3647; /* Farbe der Scrollbar-Thumb */
    border-radius: 4px; /* abgerundete Ecken der Thumb */
    height: 2px; /* Höhe der Scrollbar-Thumb anpassen */
}

.right_section {
    padding: 32px;
    margin-top: 80px;
    background-color: white;
    width: 70%;
    overflow:auto;

}

.add_new_contact {
    position: fixed;
    border: none;
    background: #2A3647;
    color: white;
    padding: 16px;
    border-radius: 8px;
    top: 100px;
    width: 20%;
}
.add_new_contact:hover{
    background-color: #29ABE2;
}

.content_contact{
    display: flex; 
    align-items: center; 
    justify-content: space-around;
}

.content_contact > div {
    margin: 100 100px; /* Ändere den Wert nach Bedarf */
}

h1{
    font-size: 80px;
}

.line{
    color: #29ABE2;
  
    font-size: 80px;
}
h3{
    color: #2A3647;
}

p{
    font-size: 24px;

}
.contact_book {
    margin-top: 640px; 
    width: 70%; 
    border-bottom: 1px solid lightgray;
}

.contact_name {
    font-size: 18px;
    margin: 4px;
    display: flex;
    text-align: left;
    align-items: center;
    gap: 8px;

}

.contact_mail {
    line-height: 0px;
    font-size: 16px;
    color: #29ABE2;
    margin-bottom: 32px;
}

.contact_A {
    margin-top: 432px; /*bessere lösung finden */
}

.popup_background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: right 0.5s ease;
}

.container_form {
    position: relative;
    width: 60%; /* Ändere die Breite der Karte nach Bedarf */
    height: 50%; /* Ändere die Höhe der Karte nach Bedarf */
    background: none; /* Hintergrundfarbe hier nicht setzen, da es vom Popup-Background übernommen wird */
    display: flex;
    z-index: 100;
}

.left_side_form {
    width: 40%;
    background-color:#2A3647;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.right_side_form {
    width: 60%;
    background-color: white;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.popup_title{
    font-size: 54px;
    color: white;
    margin: 0;
}
.popup_subtitle{
    font-size: 24px;
    color: white;
}
.container_input_fields{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
}
.popup_input_fields{
border-radius: 4px;
width: 50%;
border: 1px solid lightgray;
margin-bottom: 24px;
margin-right: 24px;
height: 16px;

}
.hover_names {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 16px;
    height: 70px;
    margin-bottom: 20px; 
    text-align: left; /* versuch den text linksbündig zu halten aber funktioniert nicht */
    flex-direction: column;
    cursor: pointer;
}

/* Remove text-align property from .hover_names p */
.hover_names p {
    margin: 0;
}

.hover_names:hover {
    background: #F6F7F8;
}
input{
    cursor: pointer;
}
button{
    cursor: pointer;
}