.body_log_in {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top_log_in {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 64px;
    padding-right: 64px;
    margin-bottom: 40px;
}

.right_top_log_in {
    margin-right: 32px;
}

.right_top_log_in div {
    display: flex;
    align-items: center;
    gap: 32px;
}

.sign_up_button_right_top_log_in {
    display: flex;
    padding: 15px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #2A3647;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.position_center_log_in {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_log_in {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card_center_log_in {
    box-sizing: border-box;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    padding: 48px 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_center_log_in h1 {
    font-size: 56px;
    margin: 0;
    margin-bottom: 40px;
    text-decoration: underline 4px #29ABE2;
    text-underline-offset: 24px;
}

.input_card_center_log_in {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 8px 0px;
}

.email_input_card_center_log_in {
    display: flex;
    width: 420px;
    padding: 16px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: url(./assets/img/email_icon_log_in.svg) no-repeat;
    background-position: calc(100% - 24px) center;
    font-size: 20px;
    font-weight: 400;
}

.email_input_card_center_log_in::placeholder {
    color: #D1D1D1;
}

.password_input_card_center_log_in {
    display: flex;
    width: 420px;
    padding: 16px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: url(./assets/img/password_icon_log_in.svg) no-repeat;
    background-position: calc(100% - 24px) center;
    font-size: 20px;
    font-weight: 400;
}

.password_input_card_center_log_in::placeholder {
    color: #D1D1D1;
}

.checkbox_card_center_log_in {
    box-sizing: border-box;
    width: 100%;
    padding: 32px 64px;
}

.buttons_card_center_log_in {
    display: flex;
    gap: 32px;
}

.log_in_button_card_center_log_in {
    display: flex;
    height: 48px;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
}

.guest_log_in_button_card_center_log_in {
    display: flex;
    height: 48px;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #2A3647;
    background: white;
    color: var(--Version-2-main-color, #2A3647);
    font-size: 21px;
    font-weight: 700;
    line-height: 120%;
}

.bottom_log_in {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 32px;
    margin-bottom: 40px;
}

.bottom_log_in span{
    color: #A8A8A8;
    font-size: 16px;
    font-weight: 400;
}

.name_input_card_center_sign_up {
    display: flex;
    width: 420px;
    padding: 16px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: url(./assets/img/name_icon_sign_up.svg) no-repeat;
    background-position: calc(100% - 24px) center;
    font-size: 20px;
    font-weight: 400;
}

.name_input_card_center_sign_up::placeholder {
    color: #D1D1D1;
}

.checkbox_card_center_sign_up {
    box-sizing: border-box;
    padding: 32px 0px;
}

.checkbox_card_center_sign_up a { 
    text-decoration: none;
    color: #29ABE2;
}

.arrow_left_sign_up {
    position: absolute;
    z-index: 2;
    margin-left: -560px;
    margin-top: 16px;
}