.main_content_policy{
    background-color: red; 
    margin-left: 320px; 
    margin-top: 160px; 
    width: 70%; 
    height: 800px;

}
h1{
    padding: 32px;
    font-size: 40px;
    font-weight: 700;
}
.container_paragraph{
    padding: 32px;
}
