body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #F6F7F8;
}

.header_desktop_template {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    padding: 20px 40px 20px 348px;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.title_header_desktop_template {
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.right_header_desktop_template {
    display: flex;
    align-items: center;
    gap: 16px;
}

.right_header_desktop_template img {
    transition: scale 100ms ease-in-out;
}

.right_header_desktop_template img:hover {
    scale: 1.1;
    cursor: pointer;
}

#initials_header_desktop_template {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #2A3647;
    border-radius: 50%;
    color: #29ABE2;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

#initials_header_desktop_template:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.10);
}

.dropdown_menu_header_desktop_template {
    box-sizing: border-box;
    height: 160px;
    width: 152px;
    position: absolute;
    z-index: 2;
    right: 24px;
    top: 84px;
    background-color: #2A3647;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.dropdown_menu_header_desktop_template a {
    text-decoration: none;
    color: #CDCDCD;
    padding: 14px 10px;
}

.dropdown_menu_header_desktop_template a:hover {
    background-color: #2a3d59;
    cursor: pointer;
}

.help_dropdown_menu_mobile_template {
    display: none;
}

.side_bar_desktop_template {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 100vh;
    padding: 64px 0px;
    flex-direction: column;
    align-items: center;
    background: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.center_side_bar_desktop_template {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.center_side_bar_desktop_template li {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 60px;
}

.center_side_bar_desktop_template li:hover {
    background-color: #2a3d59;
    cursor: pointer;
}

.center_side_bar_desktop_template img {
    color: #CDCDCD;
    display: flex;
    height: 30px;
    width: 30px;
}

.center_side_bar_desktop_template span {
    color: #CDCDCD;
    font-size: 16px;
    font-weight: 400;
}

.bottom_side_bar_desktop_template {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
}

.bottom_side_bar_desktop_template div { 
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #A8A8A8;
}

.bottom_side_bar_desktop_template span:hover {
    cursor: pointer;
    color: #29ABE2;
}

.display_none {
    display: none;
}




@media(max-width: 900px) {
    .header_desktop_template {
        padding: 20px 40px 20px 40px;
    }

    .title_header_desktop_template {
        display: none;
    }

    .dropdown_menu_header_desktop_template {
        height: 200px;
    }

    .help_header_mobile_template {
        display: none;
    }

    .help_dropdown_menu_mobile_template {
        display: unset;
    }

    .side_bar_desktop_template {
        flex-direction: row;
        width: 100%;
        height: 84px;
        padding: 4px 100px;
        top: unset;
        left: unset;
        bottom: 0;
    }

    .logo_side_bar_desktop_template {
        display: none;
    }

    .bottom_side_bar_desktop_template {
        display: none;
    }

    .center_side_bar_desktop_template {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .center_side_bar_desktop_template li {
        width: 90px;
        flex-direction: column;
        gap: 4px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 16px;
    }
}

@media(max-width: 720px) {
    .side_bar_desktop_template {
        padding: 4px 64px;
    }
}

@media(max-width: 600px) {
    .header_desktop_template {
        padding: 20px 20px 20px 20px;
    }

    .side_bar_desktop_template {
        padding: 4px 16px;
    }
}

@media(max-width: 480px) {
    .header_desktop_template {
        padding: 20px 16px 20px 16px;
    }

    .side_bar_desktop_template {
        padding: 4px 8px;
    }

    .center_side_bar_desktop_template {
        gap: 4px;
    }

    .center_side_bar_desktop_template span {
        font-size: 12px;
    }

    .center_side_bar_desktop_template li {
        width: 80px;
        padding-left: 8px;
        padding-right: 8px;
    }
}