body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #F6F7F8;
}

.header_desktop_template {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    padding: 20px 40px 20px 348px;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.title_header_desktop_template {
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.header_desktop_template div{
    display: flex;
    align-items: center;
    gap: 16px;
}

.initials_header_desktop_template {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #2A3647;
    border-radius: 50%;
    color: #29ABE2;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.side_bar_desktop_template {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 232px;
    height: 100vh;
    padding: 48px 0px;
    flex-direction: column;
    align-items: center;
    background: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.center_side_bar_desktop_template {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.center_side_bar_desktop_template li {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 60px;
}

.center_side_bar_desktop_template img {
    color: #CDCDCD;
    display: flex;
    height: 30px;
    width: 30px;
}

.center_side_bar_desktop_template span {
    color: #CDCDCD;
    font-size: 16px;
    font-weight: 400;
}

.bottom_side_bar_desktop_template {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
    gap: 8px;
    margin-top: 120px;
}

.bottom_side_bar_desktop_template span { 
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    color: #A8A8A8;
}

.main_content {
    width: 100%; /* sollte man vielleicht noch anpassen*/
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 80px; 
    gap: 50px;
}

.box_left {
    width: 33%;
    height: 60vh;
}

.box_right {
    width: 33%;
    height: 60vh;
}

.headline_add_task {
    display: flex;
    justify-content: flex-start;
    margin-left: 320px;
    margin-top: 100px;

}