body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #F6F7F8;
}

.header_desktop_template {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    padding: 20px 40px 20px 348px;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.title_header_desktop_template {
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.header_desktop_template div{
    display: flex;
    align-items: center;
    gap: 16px;
}

.initials_header_desktop_template {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #2A3647;
    border-radius: 50%;
    color: #29ABE2;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.side_bar_desktop_template {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 232px;
    height: 100vh;
    padding: 48px 0px;
    flex-direction: column;
    align-items: center;
    background: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.center_side_bar_desktop_template {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.center_side_bar_desktop_template li {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 60px;
}

.center_side_bar_desktop_template img {
    color: #CDCDCD;
    display: flex;
    height: 30px;
    width: 30px;
}

.center_side_bar_desktop_template span {
    color: #CDCDCD;
    font-size: 16px;
    font-weight: 400;
}

.bottom_side_bar_desktop_template {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: center;
    gap: 8px;
    margin-top: 120px;
}

.bottom_side_bar_desktop_template span { 
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    color: #A8A8A8;
}

.content_index {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_log_in {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top_log_in {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 64px;
    padding-right: 64px;
    margin-bottom: 40px;
}

.right_top_log_in {
    margin-right: 32px;
}

.right_top_log_in div {
    display: flex;
    align-items: center;
    gap: 32px;
}

.sign_up_button_right_top_log_in {
    display: flex;
    padding: 15px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #2A3647;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.position_center_log_in {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_log_in {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card_center_log_in {
    box-sizing: border-box;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    padding: 48px 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_center_log_in h1 {
    font-size: 56px;
    margin: 0;
    margin-bottom: 40px;
    text-decoration: underline 4px #29ABE2;
    text-underline-offset: 24px;
}

.input_card_center_log_in {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 8px 0px;
}

.email_input_card_center_log_in {
    display: flex;
    width: 420px;
    padding: 16px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: url(./assets/img/email_icon_log_in.svg) no-repeat;
    background-position: calc(100% - 24px) center;
    font-size: 20px;
    font-weight: 400;
}

.email_input_card_center_log_in::placeholder {
    color: #D1D1D1;
}

.password_input_card_center_log_in {
    display: flex;
    width: 420px;
    padding: 16px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: url(./assets/img/password_icon_log_in.svg) no-repeat;
    background-position: calc(100% - 24px) center;
    font-size: 20px;
    font-weight: 400;
}

.password_input_card_center_log_in::placeholder {
    color: #D1D1D1;
}

.checkbox_card_center_log_in {
    box-sizing: border-box;
    width: 100%;
    padding: 32px 64px;
}

.buttons_card_center_log_in {
    display: flex;
    gap: 32px;
}

.log_in_button_card_center_log_in {
    display: flex;
    height: 48px;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
}

.guest_log_in_button_card_center_log_in {
    display: flex;
    height: 48px;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #2A3647;
    background: white;
    color: var(--Version-2-main-color, #2A3647);
    font-size: 21px;
    font-weight: 700;
    line-height: 120%;
}

.bottom_log_in {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 32px;
    margin-bottom: 40px;
}

.bottom_log_in span{
    color: #A8A8A8;
    font-size: 16px;
    font-weight: 400;
}

.name_input_card_center_sign_up {
    display: flex;
    width: 420px;
    padding: 16px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: url(./assets/img/name_icon_sign_up.svg) no-repeat;
    background-position: calc(100% - 24px) center;
    font-size: 20px;
    font-weight: 400;
}

.name_input_card_center_sign_up::placeholder {
    color: #D1D1D1;
}

.checkbox_card_center_sign_up {
    box-sizing: border-box;
    padding: 32px 0px;
}

.checkbox_card_center_sign_up a { 
    text-decoration: none;
    color: #29ABE2;
}

.arrow_left_sign_up {
    position: absolute;
    z-index: 2;
    margin-left: -560px;
    margin-top: 16px;
}










.main_content {
    width: 100%; /* sollte man vielleicht noch anpassen*/
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 80px; 
    gap: 50px;
}

.box_left {
    width: 33%;
    height: 60vh;
}

.box_right {
    width: 33%;
    height: 60vh;
}

.headline_add_task {
    display: flex;
    justify-content: flex-start;
    margin-left: 320px;
    margin-top: 100px;
}

.content_board {
    margin-left: 232px;
    margin-top: 83px;
}

.top_board {
    width: 1208px;
    height: 232px;
    flex-shrink: 0;
    padding-top: 79.5px;
}

.inner_top_board {
    display: flex;
    width: 1056px;
    justify-content: space-between;
    align-items: center; 
}

.top_board h1 {
    color: #000;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 73.2px */
    margin-left: 64px;
}

.task_container_board {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.input_container_board {
    display: flex;
    width: 312px;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--icon, #A8A8A8);
    background: #FFF;
}

.input_board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
}

.lens_board {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}



.button_board {
     display: flex;
     padding: 8px 16px;
     justify-content: center;
     align-items: center;
     gap: 4px;
     border-radius: 10px;
     border: 1px solid #2A3647;
     background: #2A3647;
}

.button_board span {
    width: 92px;
    height: 24px;
    color: var(--white, #FFF);
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.button_board img {
    width: 32px;
    height: 32px;
}

.top_bar_board {
    display: flex;
    width: 1208px;
    padding: 0px 64px;
    justify-content: space-between;
    align-items: flex-start;
}

.bar_board {
    display: flex;
    width: 244px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.bar_done_board {
    display: flex;
    width: 244px;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    flex-shrink: 0;
}

.top_bar_board img {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
}

.distrubution_board {
    display: flex;
    width: 1208px;
    height: 688px;
    padding: 0px 64px;
    align-items: flex-start;
    gap: 26px;
    flex-shrink: 0;
}

.column_board1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}

.column_board2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.column_board3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

/* .card2_board {
    display: flex;
    width: 252px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: var(--white, #FFF);
    /* shadoe backlog box */
    /* box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08); */


