<div class="popup_background" id="popupBackground" onclick="hidePopup()">
    <div class="container_form">
        <div class="left_side_form">
          <h1 class="popup_title">Add Contact</h1>
          <span class="popup_subtitle">Tasks are better with a Team!</span>
        </div>
        <div class="right_side_form">
            
            <div class="container_input_fields">
                <input placeholder="Name" class="popup_input_fields" type="text"   required>
                <input placeholder="Email" class="popup_input_fields" type="email" required>
                <input placeholder="Phone" class="popup_input_fields" type="tel"  required>
            </div>
        </div>
    </div>
</div>