<div id="bg_contact_form" style="display: none" onclick="closeContactFormContacts()"></div>
<div id="contact_form" style="display: none">
    <div class="left_contact_form">
        <div class="mobile_x_contact_form"><img src="./assets/img/white_x_icon_contact_form.svg" alt="x icon" onclick="closeContactFormContacts()"></div>
        <div><img src="./assets/img/join_logo_contact_form.svg" alt="join logo" class="logo_left_contact_form"></div>
        <span id="title_left_contact_form">Add contact</span>
        <span id="subheading_contact_form">Tasks are better with a team!</span>
        <div class="parting_line_left_contact_form"></div>
    </div>
    <div class="right_contact_form">
        <div id="pfp_contact_form"><img src="/assets/img/pfp_placeholder_icon_contact_form.svg" alt="person icon"></div>
        <div class="form_right_contact_form">
            <div class="x_contact_form"><img src="./assets/img/x_icon_contact_form.svg" alt="x icon" onclick="closeContactFormContacts()"></div>
            <form onsubmit="addNewContactContacts(); return false" >
                <input required id="name_contact_form" type="text" placeholder="Name">
                <input required id="email_contact_form" type="email" placeholder="Email">
                <input required id="phone_contact_form" type="tel" placeholder="Phone">
                <div id="buttons_contact_form">
                    <div class="add_buttons_contact_form">
                        <button onclick="closeContactFormContacts()" type="button" class="cancel_button_contact_form">Cancel</button>
                        <button class="create_button_contact_form">Create contact<img src="./assets/img/check_icon_contact_form.svg" alt="check icon"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
