<header class="header_desktop_template">
</header>
<div class="side_bar_desktop_template">
        <img src="./assets/img/join_logo_side_bar.svg" alt="join_logo">
    <div class="center_side_bar_desktop_template">
        <div class="options_center_side_bar_desktop_template">
            <img src="./assets/img/summary_icon_side_bar.svg" alt="summary icon">
            <span>Summary</span>
        </div>
        <div class="options_center_side_bar_desktop_template">
                <img src="./assets/img/add_task_icon_side_bar.svg" alt="add task icon">
                <span>Add Task</span>
        </div>
        <div class="options_center_side_bar_desktop_template">
            <img src="./assets/img/board_icon_side_bar.svg" alt="board icon">
            <span>Board</span>
        </div>
        <div class="options_center_side_bar_desktop_template">
            <img src="./assets/img/contacts_icon_side_bar.svg" alt="contacts icon">
            <span>Contacts</span>
        </div>
    </div>
    <div class="bottom_side_bar_desktop_template">
        <span>Privacy Policy</span>
        <span>Legal notice</span>
    </div>
</div>
