<div class="fullbox_edit_form" id="edit-form" style="display: none;">
    <div class="headline_task_form">
        <img class="x_button_board" onclick="closeTaskEditOnBoard()" src="./assets/img/close.svg" alt="">

    </div>
    <form onsubmit="createTaskArray(targetColumnId), resetContactAddTask(), renderTask(); return false;">

            <div class="edit_container_boxes_addtask">

                                <!--LEFT SIDE START-->

                <div class="left_box_addtask">
                    <div>
                        <p class="required_red_star">Title</p>
                      <input id="edit_title" placeholder="Enter a title" class="input_field_title_addtask" type="text" required>
                    </div>

                    <div>
                        <p>Description</p>
                        <textarea id="edit_description" placeholder="Enter a Description" class="textarea_discription_addtask" cols="30" rows="10"></textarea>    
                    </div>

        <div> 
            <p>Assigned to</p>             
            <div class="select_contacts_add_task">
                <div id="edit_contact_bar_select_contacts_add_task">
                    <div class="placeholder_select_contacts_add_task" onclick="openContactListAddTaskEdit()">
                        <span>Select contacts to assign</span>
                        <img src="./assets/img/arrow_down_add_task.svg" alt="arrow down symbol">
                    </div>
                </div>
                <div id="edit_contact_list_add_task" style="display: none">
                    <div id="edit_me_contact_list_add_task"></div>
                    <div id="edit_contacts_contact_list_add_task"></div>
                </div>
            </div>
                        <div id="edit_selected_contacts_add_task"></div> 
        </div>
    </div>

                <hr class="parting_line">

                <!--RIGHT SIDE START-->
                <div class="right_box_addtask">
                    <div>
                        <p class="required_red_star">Due date</p>
                        <div class="input_with_icon">
                            <input  id="edit_date" placeholder="DD/MM/YYYY" class="input_field_due_date" type="date" id="dueDateInput" required> 
                        </div>
                    </div>
                
                    <div>
                        <div class="container_prio_title"><p>Prio</p></div>
                        <div class="container_prio_buttons_addtask">
                            <img id="edit_urgentbuttonwhite" onclick="toggleButtonEdit('urgent')" class="prio_button_standard" src="assets/img/urgentwhite.svg" alt="">
                            <img id="edit_urgentbuttonred" onclick="toggleButtonEdit('urgent')" class="prio_button_standard hide_icon" src="assets/img/redurgent.svg" alt="">
                            <img id="edit_mediumbuttonorange" onclick="toggleButtonEdit('medium')" class="prio_button_standard " src="assets/img/medium_orange.svg" alt="">
                            <img id="edit_mediumbuttonwhite" onclick="toggleButtonEdit('medium')" class="prio_button_standard hide_icon" src="assets/img/medium_button_icon_white.svg" alt="">
                            <img id="edit_lowbuttonwhite" onclick="toggleButtonEdit('low')" class="prio_button_standard" src="assets/img/low_white.svg" alt="">
                            <img id="edit_lowbuttongreen" onclick="toggleButtonEdit('low')" class="prio_button_standard hide_icon" src="assets/img/low_button_icon_green.svg" alt="">
                        </div>
                    </div>

                    <!-- <div>
                        <p class="required_red_star">Category</p>
                        <select id="edit_category_task" class="input_assigned_to" required >
                            <option value="" disabled selected hidden>Select task category</option>
                            <option value="Technical Task">Technical Task</option>
                            <option value="User Story">User Story</option>
                          
                        </select>
                    </div> -->

                    <div>
                        <div class="input_container">
                            <p>Subtasks</p>
                            <div class="input_field_container">
                                <div class="input_wrapper">
                                    <input placeholder="Add new Subtask" class="input_field_subtasks" type="text" id="subtaskInput">
                                    <div class="icon-container">
                                        <img class="hide_icon" onclick="cancelSubtask()" id="cancelSubtask" src="assets/img/Cancel_subtask.svg" alt="">
                                        <img class="hide_icon" id="smallLineSubtask" src="assets/img/small_line_subtask.svg" alt="">
                                        <img id="addingSubtask" class="input_field_icon  hide_icon" onclick="addSubtask()" src="assets/img/accept_subtask.svg" alt="">
                                        <img id="acceptTask" src="assets/img/Subtasks plus.svg">
                                    </div>
                                </div>                        
        
        
                            </div>
                        </div>
        
                        <div id="edit_subtaskContainer"></div>  
                    </div>

                </div>
            </div>
            

            
            <div class="bottom_container_edit_task">
                <div class="container_data_first_letter">

                </div>
            
                <div class="container_clear_and_create_task">
              
                    <button id="editTaskSubmit" onclick="saveEditedTask('taskId')" class="edit_task_button" type="button">Ok</button>
                </div>
            </div>
        </form>