<header class="header_desktop_template">
    <img src="./assets/img/logo_header_mobile_template.svg" alt="join logo" class="logo_header_mobile_template">
    <span class="title_header_desktop_template">Kanban Project Management Tool</span>
    <div class="right_header_desktop_template">
        <img src="./assets/img/help_icon_header_desktop_template.svg" alt="help icon" onclick="redirect('help')" class="help_header_mobile_template">
        <span id="initials_header_desktop_template" onclick="openDropdownMenuDesktopTemplate()">SM</span>
    </div>
    <div id="dropdown_menu_header_desktop_template" class="dropdown_menu_header_desktop_template display_none">
        <a href="/help.html" class="help_dropdown_menu_mobile_template">Help</a>
        <a href="/legal_notice.html">Legal Notice</a>
        <a href="/privacy_policy.html">Privacy Policy</a>
        <a href="/log_in.html">Log out</a>

    </div>
</header>
<div class="side_bar_desktop_template">
        <img src="./assets/img/join_logo_side_bar.svg" alt="join_logo" class="logo_side_bar_desktop_template">
    <ul class="center_side_bar_desktop_template">
        <li onclick="redirect('summary')" id="summary_side_bar">
            <img src="./assets/img/summary_icon_side_bar.svg" alt="summary icon">
            <span>Summary</span>
        </li>
        <li onclick="redirect('add_task')" id="add_task_side_bar">
            <img src="./assets/img/add_task_icon_side_bar.svg" alt="add task icon">
            <span>Add Task</span>
        </li>
        <li onclick="redirect('board')" id="board_side_bar">
            <img src="./assets/img/board_icon_side_bar.svg" alt="board icon">
            <span>Board</span>
        </li>
        <li onclick="redirect('contacts')" id="contacts_side_bar">
            <img src="./assets/img/contacts_icon_side_bar.svg" alt="contacts icon">
            <span>Contacts</span>
        </li>
    </ul>
    <div class="bottom_side_bar_desktop_template">
        <div>
            <span onclick="redirect('privacy_policy')">Privacy Policy</span>
            <span onclick="redirect('legal_notice')">Legal notice</span>
        </div>
    </div>
</div>
