<header class="header_desktop_template">
    <img src="./assets/img/logo_header_mobile_template.svg" alt="join logo" class="logo_header_mobile_template">
    <span class="title_header_desktop_template">Kanban Project Management Tool</span>
</header>
<div class="side_bar_desktop_template">
        <img src="./assets/img/join_logo_side_bar.svg" alt="join_logo" class="logo_side_bar_desktop_template">
    </ul>
    <div class="bottom_side_bar_desktop_template">
        <div>
            <span onclick="redirect('privacy_policy_unlogged')" id="privacy_policy_side_bar">Privacy Policy</span>
            <span onclick="redirect('legal_notice_unlogged')" id="legal_notice_side_bar">Legal notice</span>
        </div>
    </div>
</div>
