<div class="task_overlay_box_board" id="task-overlay">
    <div class="task_overlay_top_board">
        <div class="card_title_board">User Story</div>
        <img class="x_button_board" onclick="closeOverlay()" src="./assets/img/close.svg" alt="">
    </div>
    <h2>Kochwelt Page & Recipe Recommender</h2>
    <div class="task_overlay_text">
            <span>Build start page with recipe recommendation.</span>
        <div class="date_taskoverlay">
            <span class="textcolor_taskoverlay">Due date:</span>
            <span>10/05/2023</span>
        </div>
        <div class="priority_taskoverlay">
            <span class="textcolor_taskoverlay">Priority:</span>
            <div class="priority_taskoverlay2">
                <span>Medium</span>
                <img src="./assets/img/prio_media.svg" alt="">
            </div>
        </div>
        <span class="textcolor_taskoverlay">Assigned To:</span>
    </div>
    <div>
        <div class="task_overlay_assigned">
            <div class="assigned_profiles">
                <img src="./assets/img/profile1.svg" alt="">
                <span>Emmanuel Mauer</span>
            </div>
            <div class="assigned_profiles">
                <img src="./assets/img/profile2.svg" alt="">
                <span>Marcel Bauer</span>
            </div>
            <div class="assigned_profiles">
                <img src="./assets/img/profile3.svg" alt="">
                <span>Anton Mayer</span>
            </div>
        </div>
        <div class="subtasks_taskoverlay">
            <span>Subtasks</span>
            <div><input type="checkbox"><span>Implement Recipe Recommendation</span></div>
            <div><input type="checkbox"><span>Start Page Layout</span></div>
        </div>
    </div> 
    <div class="delete_edit_taskoverlay">
        <div class="delete_box">
            <img src="./assets/img/delete.svg" alt="">
            <span>Delete</span>
        </div>
        <img src="./assets/img/vector2.svg" alt="">
        <div class="edit_box">
            <img src="./assets/img/edit.svg" alt="">
            <span>Edit</span>
        </div>
    </div>
</div>