<div class="fullbox_task_form" id="task-form">
    <div class="headline_task_form">
        <h1>Add Task</h1>
        <img class="x_button_board" onclick="closeTaskFormOnBoard()" src="./assets/img/close.svg" alt="">
    </div>

<div class="main_content_task_form">
    
    <div class="box_left">
        
        <div>
            <p class="required_red_star">Title</p>
            <input id="title" placeholder="Enter a title" class="input_field_title" type="text">
        </div>

        <div>
            <p>Description</p>
            <textarea id="description" placeholder="Enter a Description" class="textarea_discription" name="" id="" cols="30" rows="10"></textarea>    
        </div>

        <div>
            <p>Assigned to</p>
            <select class="input_assigned_to">
                <option selected>Select contacts to assign</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>

    <!-- <div class="parting_line_task_form"></div> -->

    <div class="box_right">
        <div>
            <p class="required_red_star">Due date</p>
            <input id="date" placeholder="DD/MM/YYYY" class="input_field_title" type="date">
        </div>

        <div>
            <p>Prio</p>
            <div class="container_prio_buttons">
                <button id="prioButtonUrgent" class="other_prio_buttons">Urgent</button>
                <button class="medium_button">Medium</button> 
                <button class="other_prio_buttons">Low</button>
            </div>
        </div>
    
        <div>
            <p class="required_red_star">Category</p>
            <select class="input_assigned_to">
                <option selected>Select task category</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    
        <div>
            <p>Subtasks</p>
            <input class="input_field_subtasks" type="text"></input>
        </div>
    </div>

</div>

<div class="bottom_task_form">
    <div class="container_data_first-letter">
        <p class="required_red_star"> This field is required</p>
    </div>    

    <div class="">
        <button onclick="clearTask()" class="clear_task_button">Clear</button>
        <button onclick="createTaskArray(targetColumnId)" class="create_task_button">Create Task</button>
    </div>
</div>
   
</div>
