<form onsubmit="createTaskArray(targetColumnId); return false;">
<div class="fullbox_task_form" id="task-form">
    <div class="headline_task_form">
        <h1>Add Task</h1>
        <img class="x_button_board" onclick="closeTaskFormOnBoard()" src="./assets/img/close.svg" alt="">
    </div>

<div class="main_content_task_form">
    
    <div class="box_left">
        
        <div>
            <p class="required_red_star">Title</p>
            <input id="title" placeholder="Enter a title" class="input_field_title" type="text" required>
        </div>

        <div>
            <p>Description</p>
            <textarea id="description" placeholder="Enter a Description" class="textarea_discription" name="" id="" cols="30" rows="10"></textarea>    
        </div>

        <div> 
            <p>Assigned to</p>             
            <div class="select_contacts_add_task">
                <div id="contact_bar_select_contacts_add_task">
                    <div class="placeholder_select_contacts_add_task" onclick="openContactListAddTask()">
                        <span>Select contacts to assign</span>
                        <img src="./assets/img/arrow_down_add_task.svg" alt="arrow down symbol">
                    </div>
                </div>
                <div id="contact_list_add_task" style="display: none">
                    <div id="me_contact_list_add_task"></div>
                    <div id="contacts_contact_list_add_task"></div>
                </div>
            </div>

        </div>
    </div>

    <!-- <div class="parting_line_task_form"></div> -->

    <div class="box_right">
        <div>
            <p class="required_red_star">Due date</p>
            <input id="date" placeholder="DD/MM/YYYY" class="input_field_title" type="date">
        </div>

        <div>
            <p>Prio</p>
                <div>
                    <img id="urgentbuttonwhite" onclick="toggleButton('urgent')" class="prio_button_standard" src="assets/img/urgentwhite.svg" alt="">
                    <img id="urgentbuttonred" onclick="toggleButton('urgent')" class="prio_button_standard hide_icon" src="assets/img/redurgent.svg" alt="">
                    <img id="mediumbuttonorange" onclick="toggleButton('medium')" class="prio_button_standard " src="assets/img/medium_orange.svg" alt="">
                    <img id="mediumbuttonwhite" onclick="toggleButton('medium')" class="prio_button_standard hide_icon" src="assets/img/medium_button_icon_white.svg" alt="">
                    <img id="lowbuttonwhite" onclick="toggleButton('low')" class="prio_button_standard" src="assets/img/low_white.svg" alt="">
                    <img id="lowbuttongreen" onclick="toggleButton('low')" class="prio_button_standard hide_icon" src="assets/img/low_button_icon_green.svg" alt="">
                </div>
        </div>
    
        <div>
            <p class="required_red_star">Category</p>
                <select id="category_task" class="input_assigned_to">
                    <option selected hidden>Select task category</option>
                    <option value="Technical Task">Technical Task</option>
                    <option value="User Story">User Story</option>
                  
                </select>
        </div>
    
        <div>
            <div class="input_container">
                <p>Subtasks</p>
                <div class="input_field_container">
                    <div class="input_wrapper">
                        <input id="subtask_value" placeholder="Add new Subtask" class="input_field_subtasks" type="text" id="subtaskInput">
                        <div class="icon-container">
                            <img class="hide_icon" onclick="cancelSubtask()" id="cancelSubtask" src="assets/img/Cancel_subtask.svg" alt="">
                            <img class="hide_icon" id="smallLineSubtask" src="assets/img/small_line_subtask.svg" alt="">
                            <img id="addingSubtask" class="input_field_icon hide_icon hide_icon" onclick="addSubtask()" src="assets/img/accept_subtask.svg" alt="">
                            <img id="acceptTask" onclick="acceptTask()" src="assets/img/Subtasks plus.svg">
                        </div>
                    </div>                        


                </div>
            </div>

            <div id="subtaskContainer"></div>  
    </div>
    </div>

</div>

<div class="bottom_task_form">
    <div class="container_data_first-letter">
        <p class="required_red_star"> This field is required</p>
    </div>    

    <div class="">
        <button onclick="clearTask()" class="clear_task_button">Clear</button>
        <button class="create_task_button" type="submit">Create Task</button>
    </div>
</div>
   
</div>
</form>
